{% extends 'base.html' %}

{% block head %}
    <script src="{{ url_for('static', filename='js/md5.js') }}" type="text/javascript"></script>
    <title>User Registration</title>
{% endblock %}

{% block body %}
    <div class="user">
        <h1 style="text-align: center">User Registration</h1>
        {% if accounts|length < 1 %}
            <h4 style="text-align: center">There are no users. Create one below!</h4>
        {% else %}
            <table>
                <tr>
                    <th>User</th>
                    <th>Password</th>
                    <th>Initial Hash Rounds</th>
                    <th>Current Hash Rounds</th>
                    <th>Date created</th>
                    <th>Actions</th>
                </tr>
                {% for account in accounts %}
                    <tr>
                        <td>{{ account.username }}</td>
                        <td>{{ account.pwd }}</td>
                        <td>{{ account.initial_index }}</td>
                        <td>{{ account.current_index }}</td>
                        <td>{{ account.date_created.date() }}</td>
                        <td>
                            <a href="/delete/{{ account.id }}">Delete</a>
                            <!--<br>-->
                            <!--<a href="/update/{{account.id}}">Update</a>-->
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}

        <div class="form">
            <form id="myForm" action="/" method="POST">
                <!--if submit button is clicked, payload is sent with POST request and page is reloaded because of action =/ -> root page-->
                <input type="text" name="username" id="user">
                <input type="text" name="hashedPassword" id="hashedPassword">
                <input type="button" onclick="pwd_hash()" value="Submit form">
            </form>
        </div>

        <span id="n_loops" hidden>{{ n_loops }}</span>

        <h1><a href="/login">Login</a></h1>
        <p id="demo">A Passwordhash md5</p>

    </div>
{% endblock %}